<div class="col-md-12">
  <div class="col-md-4 teacher-result">
    <div class="result-questions">Video Experince: <span> {{ video }}<span></div>
    <div class="result-answear">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
  </div>
  <div class="col-md-4 teacher-result">
    <div class="result-questions">Teaching Experince: <span> {{ teaching }}</div>
    <div class="result-answear">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
  </div>
  <div class="col-md-4 teacher-result">
    <div class="result-questions">Existing Audiance: <span> {{ student }}</div>
    <div class="result-answear">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
  </div>
</div>
<a href="{{ url('<front>') }}node/add/course" class="mc-btn btn-style-1 start-over">Start Over!</a>