<section class="page-control">
    <div class="container">
        <div class="page-info">
            <button onclick="history.go(-1);"><i class="icon md-arrow-left"></i>Back </button>
        </div>
    </div>
</section>