/*######## Home Page ########*/
.path-frontpage .page-header {
    display: none;
}
.online-offline-about-us {
    padding: 70px 0;
}
.mc-item-2 .ft-item {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;s
}
#views-exposed-form-course-listing-page-1 .js-form-item-title{
    display: none;
}
/*////// home page slider //////////*/
.flexslider {
    border: 0 !important;
}
/*##################### forms #######################*/
.form-item input {
    /*width: auto !important;*/
    margin-top: 0 !important;
}
/*.form-item input[type="checkbox"] {
    height: auto !important;
}*/



.footer { 
	padding-top: 0;
	margin-top: 0;

 }

.megacourse h2 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 1.5em;
    color: #fff;
    margin: 10px 0;
}

.page-top-link {
	background: #fff;
}

.page-top-link .region-sitetop {
	float: right;
}

.page-top-link .block-login-popup {
	float: left;
	display: inline-block;
	padding: 5px 10px;
} 
/*form submit button*/
.btn-success {
	background-color: #37ABF2;
	color: white;
	/*display: inline-block;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    height: 30px;
    line-height: 30px !important;
    padding: 0 20px;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;*/
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
	background-color: #37ABF2;
	color: white;
	/*display: inline-block;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    height: 30px;
    line-height: 30px !important;
    padding: 0 20px;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;*/
}

/*private-message page*/
#private-message-page .private-message-thread-full .field--name-private-messages #load-previous-messages-button-wrapper {
	border: none;
}

#private-message-page .private-message-thread-full .field--name-private-messages .private-message {
	border: none;
}


/*private message inbox*/
.block-private-message-inbox-block .private-message-thread{
	border: none;
	border-bottom: 1px solid #eee;
	display: block;
    overflow: hidden;
    padding: 25px 20px;
}

#private-message-page {
	position: relative;
    background-color: white;
    display: block;
    overflow: hidden;
    padding: 25px 20px;
}
#private-message-page .private-message-recipients {
	font-size: 22px;
}
#private-message-page .private-message-recipients .username a {
	font-size: 22px;
    color: black;
    pointer-events: none;
}
.private_message_thread_delete_link_wrapper {
	margin-bottom: 20px;
}
.private_message_thread_delete_link_wrapper a {
	border-radius: 5%;
    padding: 7px;
    background-color: red;
    color: white;
    font-weight: 600;
}
#private-message-page .private-message-thread-messages .field__items .field--item .field--name-message{
	border-bottom: 1px solid #eee;
}
.path-private-messages .region-header .local-actions li a {
	display: none;
}
.alert-success {
    color: #3c763d !important;
    background-color: #d6e9c6 !important;
    border-color: #d6e9c6 !important;
}
.block-private-message-inbox-block .private-message-recipients {
	font-weight: 600;
    font-size: 16px;
}
.block-private-message-inbox-block .private-message-inbox .field--name-created {
	float: right;
}
.private-message-add-form .form-submit {
	float: right;
}
#private-message-page .private-message-recipients .username{
	margin-top: 4px;
}
.path-private-message {
	background-color: #EEE;
}
.path-private-message #private-message-add-form #thread-members-display-container label {
	margin-right: 15px;
	font-weight: 600;
}
.path-private-message #private-message-add-form #thread-members-display-container {
	margin-bottom: 1%;
}
.path-private-message #private-message-add-form .field--name-message label {
	font-weight: 600;
}
.path-private-message #private-message-add-form {
	margin-bottom: 10%;
}


/*############ Blogs #############*/

.path-blogs {
    background-color: #eee;
    font-family: 'Raleway', sans-serif;
}
.path-blogs .main-container {
    padding-bottom: 65px;
}
.block-views-exposed-filter-blockblogs-listing-page-1 .js-form-item-title{
    margin-bottom: 50px;
}
.block-views-exposed-filter-blockblogs-listing-page-1 .js-form-item-title .control-label{
    font-weight: 700;
    color: #262626;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 10px;
    font-size: 20px;
}
.block-views-exposed-filter-blockblogs-listing-page-1 .form-item-field-blog-category-target-id .control-label {
    font-size: 20px;
    font-weight: 700;
    color: #262626;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 10px;
}
.block-views-exposed-filter-blockblogs-listing-page-1 .form-item-field-blog-category-target-id #edit-field-blog-category-target-id{
   padding-left: 12px; 
}
.block-views-exposed-filter-blockblogs-listing-page-1 .form-item-field-blog-category-target-id #edit-field-blog-category-target-id .form-group a{
    color: inherit;
    outline: none;
    text-decoration: none;
    color: #A6A6A6;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
.block-views-exposed-filter-blockblogs-listing-page-1 .form-item-field-blog-category-target-id #edit-field-blog-category-target-id .form-group{
    width: 100%;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #A6A6A6;
    padding: 10px 25px;
}
.block-views-exposed-filter-blockblogs-listing-page-1 .form-item-field-blog-category-target-id #edit-field-blog-category-target-id .form-group:after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #d4d4d4;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
}
#block-views-block-blogs-listing-block-1 .block-title{
    font-weight: 700;
    color: #262626;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 10px;
    font-size: 20px;
}
#block-views-block-blogs-listing-block-1 .views-row {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #A6A6A6;
    padding: 10px 0;
}
#block-views-block-blogs-listing-block-1 .views-row .views-field-title a {
    color: inherit;
    outline: none;
    text-decoration: none;
    color: #A6A6A6;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
}


/*//////////////////// courses ///////////////////////////*/
.page-node-type-course {
    background-color: #eee;
}
.page-node-type-course .ui-widget-content {
    border: 0;
    background: #eee;
}
.page-node-type-course .ui-widget-header {
    border: 0;
    background: #eee;
}
.page-node-type-course .ui-widget-header li{
    margin-right: 1%;
    padding: 0 1%;
}
.page-node-type-course .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0;
}
.page-node-type-course .page-header {
    display: none;
}
.page-node-type-course .main-container {
    padding-bottom: 100px;
    padding-top: 100px;
}
#qt-course_tabs-ui-tabs2 {
    border: 1px solid #D4D4D4;
    padding: 0;
}
#qt-course_tabs-ui-tabs2 .views-field-field-outline .field--name-field-outline-file .field--item {
    border-top: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4; 
}
#qt-course_tabs-ui-tabs2 .views-field-field-outline .field--name-field-outline-file .field--item .file {
    padding: 16px 70px 16px 40px;
    background-color: white;
}
#qt-course_tabs-ui-tabs2 .views-field-field-outline .field--name-field-outline-file .field--item {
    font-family: 'md-font';
    background-color: white;
}
#qt-course_tabs-ui-tabs2 .views-field-field-outline .field--name-field-outline-file .field--item span.file--text span.file-icon:before {
    content: "\e620";
}
#qt-course_tabs-ui-tabs2 .views-field-field-outline .field--name-field-outline-file .field--item span.file--application-pdf span.file-icon:before {
    content: "\e626";
}
.file-icon, .file-link {
    background-color: white;
}
#qt-course_tabs-ui-tabs2 .views-field-field-outline .field--name-field-outline-file .field--item span.file--image span.file-icon:before {
    content: "\e625";
}
#qt-course_tabs-ui-tabs2 .views-field-field-outline .field--name-field-outline-file .field--item span.file--video span.file-icon:before {
    content: "\e60b";
}
.file>span {
    background-color: white !important;
    color: #666;
    border-bottom: none; 
    border-top: none;
}
.file>span:first-child {
    border-left: 0;
}
.file>span:last-child {
    border-right: 0;
}
.glyphicon {
    display: none;
}
.file-link a {
    font-size: 16px;
    padding-left: 5%;
}
.file-link a:active, .file-link a:focus, .file-link a:hover {
    color: blue;
}
.file {
    margin: 0;
}
.field--item .file {
    
}
.file-size {
    display: none;
}
.file, .file-link {
    width: auto !important;
}
.page-node-type-course .add-to-cart {
  display: inline-block;
  /*float: right;*/
}
.page-node-type-course .bookmark-this {
    display: inline-block;
    float: right;
}
.page-node-type-course .add-to-cart .field--label {
  display: none;
}
.page-node-type-course .add-to-cart .field--name-title {
  display: none;
}
.page-node-type-course .add-to-cart .field--name-price {
  display: none;
}
.list-disc li {
    list-style: none;
}
.list-disc {
    padding-left: 0px !important;
}
/*####### Header menu #############*/
/*#navbar-collapse ul li.last-item {
    position: relative;
}
#navbar-collapse ul li.last-item a.dropdown-toggle:before {
    position: absolute;
    font-family: FontAwesome;
    text-indent: 100%;
    margin-left: 8%;
    content: "\f2bd";
    height: 20px;
    width: 20px;
    font-size: 20px;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}*/
/*#navbar-collapse ul .last-item a.dropdown-toggle {
    background-image: url("../images/u.png");
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0px;
    height: auto;
    width: auto;
}*/
/*#navbar-collapse ul li a.wish-list {
    background-image: url("../images/heart_icon_outline2.png");
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0px;paragraphs
    text-indent: 100%;
    height: 50px;
    width: 40px;
}*/
/*//////////   user profile edit page //////////////*/
.path-user #edit-private-messages {
    display: none;
}

/*course detial page*/
.video-course-intro .video-place {
    position: initial !important;
}
/*########## Wish-List Page ###############*/
.path-wish-list {
    background-color: #eee;
}

/*########## Course Listing Page ###############*/
.path-courses {
    background-color: #eee;
}
.path-courses .page-header {
    display: none;
}
.path-courses .region-content {
    padding-top: 15px;
}
.path-courses #views-exposed-form-course-listing-page-1  #edit-field-course-category-target-id {
    padding: 14px 0;
}
.path-courses #views-exposed-form-course-listing-page-1 .control-label {
    display: none;
}
.path-courses #views-exposed-form-course-listing-page-1 .form-group {
    width: 100%;
    padding: 10px 0;
    position: relative;
}
.path-courses #views-exposed-form-course-listing-page-1 .form-group a {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-indent: 20px;
    color: #A6A6A6;
}
.path-courses #views-exposed-form-course-listing-page-1 .form-group a:after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #A6A6A6;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s linear 0s;
}
#edit-field-course-tag-target-id div:first-child {
    display: none;
}
#edit-field-course-category-target-id div:first-child {
    display: none;
}
#block-exposedformcourse-listingpage-1 {
    border-right: 1px solid #D4D4D4;
}
.form-item-field-course-tag-target-id {
    border-bottom: 1px solid #D4D4D4;
}
.view-id-course_listing .content-item h4 {
    min-height: 60px;
}
.mc-item {
    margin: 15px 0;
}

.tb-cell .form-actions {
    height: 40px;
    width: 241px;
    padding-top: 6%;
}

.fa-angle-down {
    display: none;
}
.flexslider {
    margin: 0px !important;
}
.flex-control-nav {
    bottom: 0px !important;
    top: 90% !important;
}

/*########## Wish-List Page ###############*/

.view-id-wish_list .table tr th {
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #666;
    padding: 14px 20px;
}
.view-id-wish_list .table tbody tr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.view-id-wish_list .table tbody tr td {
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 18px 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.view-id-wish_list .table tbody tr td a{
    position: relative;
    display: block;
    padding-left: 20px; 
}

/*########## Add Course ###############*/
.path-node {
    background-color: #eee;
}
.node-course-form {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #646472;
    line-height: 1.6em; 
}
#cke_1_top {
    display: none;
}
#cke_1_bottom {
    display: none;
}
#cke_2_top {
    display: none;
}
#cke_2_bottom {
    display: none;
}
#cke_3_top {
    display: none;
}
#cke_3_bottom {
    display: none;
}
#cke_4_top {
    display: none;
}
#cke_4_bottom {
    display: none;
}
#course-detail-id--content {
    background-color: white;
}
.text-format-wrapper .filter-wrapper {
    display: none;
}
.add_course_class ul li {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #DDD;
    line-height: 1.5em;
    padding: 10px 15px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 10px;
}
.add_course_class ul li.selected {
    background-color: #37abf2;
    color: #fff;
}
.add_course_class ul li.selected a {
    color: #fff !important;
}
.add_course_class ul li {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #DDD;
    line-height: 1.5em;
    padding: 10px 15px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 10px;
}
/*.add_course_class ul li.vertical-tab-button {
    background-color: #37abf2;
    color: #fff;
    display: block;
    line-height: 1.5em;
    padding: 10px 15px !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 10px;
}*/
.add_course_class ul li.vertical-tab-button a {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #666;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.tab-content {
    margin-top: 0px !important;
}
#course-introduction-id--content {
    background-color: white;
}
.tabs-left>.tab-content, .tabs-right>.tab-content {
    border: 0px !important;
}
.node-course-form .form-actions {
    float: right;
}
#edit-title-0-value {
    border: 1px solid #d1d1d1;
}
.node-course-form ul.vertical-tabs-list {
    padding-top: 15px;
}
.node-course-form .field-edit-link {
    display: none;
}
.form-item-field-teacher-introduction-video-0 .form-managed-file {
    width: 30%;
    border: 1px solid #d1d1d1;
    height: 200px;
}
.form-item-field-course-cover-image-0 .image-widget {
    width: 30%;
    border: 1px solid #d1d1d1;
    height: 200px;
}
.node-course-form #edit-field-teacher-introduction-video-wrapper .form-managed-file .form-control {
    height: 100%;
    padding-left: 15%;
    padding-top: 30%;
}
.node-course-form #edit-field-course-cover-image-wrapper .form-managed-file .form-control {
    height: 100%;
    padding-left: 15%;
    padding-top: 30%;
}
.node-course-form .form-type-commerce-price .form-item input {
    width: 30%;
    border: 1px solid #d1d1d1;
}
.node-course-form  .select-wrapper {
    width: 30%;
    display: block !important;
}
.node-course-form .field--name-field-equipment .form-item input {
    border: 1px solid #d1d1d1;
}
.node-course-form input[type="date"].form-control, input[type="time"].form-control, input[type="datetime-local"].form-control, input[type="month"].form-control {
    border: 1px solid #d1d1d1;
}
.node-course-form .field--name-field-duration-of-course .form-item input {
    border: 1px solid #d1d1d1;
}
.node-course-form button.tabledrag-toggle-weight {
    display: none;
}
#field-outline-values .paragraph-type-top {
    display: none;
}
#edit-field-outline-0-top-links-remove-button {
    display: none;
}
.node-course-form .form-managed-file {
    width: 30%;
    border: 1px solid #d1d1d1;
}