<section id="before-footer" class="before-footer">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-8">
                <div class="mc-count-item">
                     <h4>Courses</h4>
                     <p><span class="countup">{{ courses }}</span></p>
                 </div>
                 <div class="mc-count-item">
                     <h4>Teachers</h4>
                     <p><span class="countup">{{ students }}</span></p>
                 </div>
                 <div class="mc-count-item">
                     <h4>Students</h4>
                     <p><span class="countup">{{ students }}</span></p>
                 </div>
                 <div class="mc-count-item">
                     <h4>Tuition Paid</h4>
                     <p>$ <span class="countup">793,361,890</span></p>
                 </div>
            </div>

            {% if logged_in %}
             <div class="col-lg-4">
                <div class="before-footer-link">
                    <a href="/courses" class="mc-btn btn-style-2">Become a member</a>
                    <a href="/node/add/courses" class="mc-btn btn-style-1">Become a teacher</a>
                </div>
            </div>
              {% else %}
              <div class="col-lg-4">
                <div class="before-footer-link">
                    <a href="#top" class="mc-btn btn-style-2">Become a member</a>
                    <a href="#top" class="mc-btn btn-style-1">Become a teacher</a>
                </div>
              </div>
            {% endif %}
        </div>
    </div>
</section>