<section id="featured-request-teacher" class="featured-request-teacher section">
    <div class="awe-parallax bg-featured-request-teacher"></div>
    <div class="awe-overlay overlay-color-1"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="request-form">
                    <h2>Start Creating Your Course</h2>
                    <form>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                        {% if logged_in %}
                        <div class="form-submit-1">
                            <a href="/node/add/courses" class="mc-btn btn-style-1">Create Course</a>
                        </div>
                          {% else %}
                        <div class="form-submit-1">
                            <a href="#top" class="mc-btn btn-style-1">Create Course</a>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>

            <div class="col-md-7">
                <div class="request-featured">
                    <h1 class="big">Create Course on Megacourse is<br> SUPER EASY</h1>
                    <div class="create-course-info-wrap">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="create-course-info">
                                    <span class="count">1</span>
                                    <p>Fill Basic Information</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="create-course-info">
                                    <span class="count">2</span>
                                    <p>Design course and Asset</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="create-course-info">
                                    <span class="count">3</span>
                                    <p>Public and Share</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="second-featured">
                        <div class="mc-count-item">
                            <h4>Courses</h4>
                            <p><span class="countup">{{ courses }}</span></p>
                        </div>
                         <div class="mc-count-item">
                            <h4>Teachers</h4>
                            <p><span class="countup">10,389</span></p>
                        </div>
                        <div class="mc-count-item">
                            <h4>Students</h4>
                            <p><span class="countup">{{ students }}</span></p>
                        </div>
                        <div class="mc-count-item">
                            <h4>Tuition Paid</h4>
                            <p>$ <span class="countup">{{ teachers }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>